<div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-customsidebar></app-customsidebar>

    </mat-drawer>
    <mat-drawer-content>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Add Regular Jobs
          </ng-template>

          <div class="example-container">
            <form class="example-form" #f="ngForm" (ngSubmit)="onSubmitregularjob(f)">
              <mat-form-field>
                <input type="text" matInput placeholder="Enter Job Id " [(ngModel)]="regularjob.jobid" name="jobid"
                  required (keyup)="regularjob.jobid=regularjob.jobid.toUpperCase()">
                <mat-error>Please provide proper Job Id</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose Completion date" [(ngModel)]="regularjob.compleiondate"
                  name="completiondate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br />
              <mat-form-field>
                <input type="text" matInput placeholder="Enter Client Name" [(ngModel)]="regularjob.clientname" name="clientname"
                  required (keyup)="regularjob.clientname=regularjob.clientname.toUpperCase()">
                <mat-error>Please provide proper client name</mat-error>
              </mat-form-field>
              <br />

              <br />
              <button type="submit" color="primary" mat-raised-button [disabled]="f.invalid">Submit</button>
            </form>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Add Sub Jobs
          </ng-template>
          <div class="example-container">
            <form class="example-form" #fsub="ngForm" (ngSubmit)="onSubmitSubJob(fsub)">
              <mat-form-field>
                <input type="text" matInput placeholder="Enter Sub Job Id " [(ngModel)]="subjob.jobid" name="subjobid"
                  required (keyup)="subjob.jobid=subjob.jobid.toUpperCase()">
                <mat-error>Enter Sub Job ID</mat-error>
              </mat-form-field>
              <br />

              <mat-form-field>
                <input type="text" matInput placeholder="Enter Product name " [(ngModel)]="subjob.productname" name="subjobproductname"
                  required (keyup)="subjob.productname=subjob.productname.toUpperCase()">
                <mat-error>Enter product name</mat-error>
              </mat-form-field>
              <br />

              <mat-form-field>
                <input type="number" matInput placeholder="Enter Product quantity" [(ngModel)]="subjob.prodctqty" name="subjobproductqty"
                  required >
                <mat-error>Enter product quantity</mat-error>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-select placeholder="Units" [(ngModel)]="subjob.unit" name="subjobproductunits" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let animal of units" [value]="animal.id">
                    {{animal.name}}
                  </mat-option>
                </mat-select>

              </mat-form-field>

              <br />
              <button type="submit" color="primary" mat-raised-button [disabled]="fsub.invalid">Submit</button>
            </form>
          </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Add Stock Jobs
            </ng-template>
            <div class="example-container">
              <form class="example-form" #fstock="ngForm" (ngSubmit)="onSubmitStockJob(fstock)">
                <mat-form-field>
                  <input type="text" matInput placeholder="Enter Stock Job Id " [(ngModel)]="stockjob.jobid" name="stockjobid"
                    required (keyup)="stockjob.jobid=stockjob.jobid.toUpperCase()">
                  <mat-error>Enter Sub Job ID</mat-error>
                </mat-form-field>
                <br />
  
                <mat-form-field>
                  <input type="text" matInput placeholder="Enter Product name " [(ngModel)]="stockjob.productname" name="stockjobproductname"
                    required (keyup)="stockjob.productname=stockjob.productname.toUpperCase()">
                  <mat-error>Enter product name</mat-error>
                </mat-form-field>
                <br />
  
                <mat-form-field>
                  <input type="number" matInput placeholder="Enter Product quantity" [(ngModel)]="stockjob.prodctqty" name="stockjobproductqty"
                    required >
                  <mat-error>Enter product quantity</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                  <mat-select placeholder="Units" [(ngModel)]="stockjob.unit" name="stockjobproductunits" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let animal of units" [value]="animal.id">
                      {{animal.name}}
                    </mat-option>
                  </mat-select>
  
                </mat-form-field>
  
                <br />
                <button type="submit" color="primary" mat-raised-button [disabled]="fstock.invalid">Submit</button>
              </form>
            </div>
          </mat-tab>
      </mat-tab-group>


    </mat-drawer-content>
  </mat-drawer-container>
</div>